*{
   margin : 0% ; 
   padding : 0% ;
   box-sizing: border-box ;
}
 
html,body{
 height: 100% ; 
 width: 100%; 
}
.main_box{
   position: relative;
   background: url(shree\ radhey\ wallpaper\ 001.jpg) right no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
} 
.main_box .sidebar_menu{
   position: fixed;
   height: 100vh;
   width: 250px;
   left: -250px;
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo{
   position: absolute;
   width: 100%;
   height: 11%;
   box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
   color: #fff ;
   font-size: 27px;
   font-weight: 700;
   position: absolute;
   left: 40px;
   line-height: 70px;
   text-decoration: none;
}
.sidebar_menu .menu{
   position: absolute;
   top: 13% ;
   width: 100%;
}
.sidebar_menu .menu li{
   margin-top: 6px;
   padding: 12px 20px;
   transition: all 0.3 linear;
}
.sidebar_menu .menu i{
   color: #fff;
   font-size: 20px;
   padding-right: 8px;
}
.sidebar_menu .menu a{
   color: #fff;
   font-size: 20px;
   text-decoration: none;
}
.sidebar_menu .menu li:hover{
   border-left: 2px solid #fff;
   box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.sidebar_menu .social_media{
   position: absolute;
   left: 45%;
   bottom: 20px;
   transform: translateX(-50%);
   cursor: pointer;
}
.social_media i{
   padding :0px 6px;
   color: #fff;
   opacity: 0.6;
   font-size: 20px;
   transition: all 0.2 ease;
}
.social_media i:hover{
   opacity: 1;
   
}
#check{
   display: none;
}
.main_box .btn_one i{
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   position: absolute;
   left: 20px;
   line-height: 70px;
   cursor: pointer;
   opacity: 1;
   transition: all 0.3 linear;
}
.sidebar_menu .btn_two i{
   font-size: 25px;
   line-height: 75px;
   position: absolute;
   right: 5%;
   cursor: pointer;
   opacity: 1;
   transition: all 0.3 linear;
   color: #fff;
}
.btn_one i:hover{
      font-size: 29px;
}
.btn_two i:hover{
      font-size: 24px;
}
#check:checked ~ .sidebar_menu{
   left: 0px;   
}
#check:checked ~ .btn_one i{
   opacity: 0;
}


